@import "bootstrap";

/* search engine */

.row
{
	text-align:center;
}

/* table  */

.fieldname
{
	margin-left:5%;
}

.fieldname h1
{
	font-size:20px;

}

h1.pageTitle
{
	margin-left:5%;
}


/* edit-table */

p.edit
{
	font-size:20px;
	margin-left:5%;
}

h1.edit
{
	margin-left:5%;
}

p.save-button
{
	margin-left:5%;
}

/* index-page */

.btn
{
	float: left;
    padding: 0;
    width: 91px;
    font-size: 16px;
}
